{% extends "layout.html" -%}
{% set active_page="cameras" -%}
{% block body %}
    <h2>Cameras</h2>
    <hr>
    <!-- buttons for modals -->
    <br>
    <hr>
    {% for name, config in configs.items() %}
        <div class="btn-group-vertical col-md-4 panel panel-default" role="group"
             aria-label="{{ config["camera"]["name"] }}">
            <br>
            <button class="btn btn-primary btn-md" data-toggle="modal"
                    data-target="#{{ name }}-modal">{{ config["camera"]["name"] }}</button>
            <button class="btn btn-danger btn-md" data-toggle="modal" data-target="#{{ name }}-delete-modal">Remove
                Config
            </button>
            <br>

            <p>
            <h4>
                {% if config["camera"]["enabled"]=="on" %}
                    Camera Enabled <br><br>
                {% else %}
                    Camera Disabled <br><br>
                {% endif %}

                {% if config["ftp"]["upload"]=="on" %}

                    Uploader Enabled <br><br>
                {% else %}
                    Uploader Disabled <br><br>
                {% endif %}

            </h4>
            </p>
        </div>
        <!-- Modal -->
        <div class="modal fade" id="{{ name }}-modal" tabindex="-1" role="dialog"
             aria-labelledby="{{ name }}-modal-label" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h3 class="modal-title" id="{{ name }}-modal-label">{{ config["camera"]["name"] }}</h3>
                    <h6 class="modal-title pull-right">
                        {{ name }}
                    </h6>
                </div>
                <div class="modal-body col-md-12">
                    <form id="{{ name }}-form">
                        <input type="text" style="display:none;" name="config-name" value="{{ name }}" />
                        {% for section in config.sections() %}
                            {% if not section == "eosserialnumber" %}
                                {% if section not in ["camera","timelapse","ftp"] %}
                                    <div class="panel panel-default hidden {{ name }}-advanced">
                                {% else %}
                                    <div class="panel panel-default">
                                {% endif %}
                            <div class="panel-heading">
                                <h4 class="panel-title">{{ section }}</h4>
                            </div>
                            <div class="panel-body">
                                {% for option,value in config[section].items() %}
                                    {{ option }}
                                    {% if option == "enabled" or option == "replace" or option == "upload" or option == "timestamped" or option == "resize" %}
                                        <input class="col-md-4 pull-right" type='checkbox'
                                               name="{{ section }}.{{ option }}"
                                               placeholder="{{ value }}"
                                               {% if value=="on" %}checked{% endif %}>
                                    {% else %}
                                        <input class="col-md-4 pull-right" type='text'
                                               title=example:"{{ example[section][option] }}"
                                               name="{{ section }}.{{ option }}"
                                               value="{{ value }}">
                                    {% endif %}
                                    <div class="col-md-4 pull-right"
                                         style="text-align:right">{{ example[section][option] }}</div>
                                    <br><br>
                                {% endfor %}
                            </div>
                            </div>
                            {% endif %}
                        {% endfor %}
                        </div>
                        <div class="modal-footer">
                            <button type="button" id="{{ name }}-advanced-button" class="btn btn-warning">Advanced
                            </button>
                            <br><br>
                            <button type="button" class="btn btn-default" data-dismiss="modal">Close/Discard</button>
                            <button type="button" id="{{ name }}-save-button" class="btn btn-primary">Save changes
                            </button>

                        </div>
                    </form>
                </div>
                <!-- /.modal-content -->
            </div>
            <!-- /.modal-dialog -->
        </div><!-- /.modal -->

        <!-- deletion modals -->

        <div class="modal fade" id="{{ name }}-delete-modal" tabindex="-1" role="dialog"
             aria-labelledby="{{ name }}-delete-modal-label" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        <h4 class="modal-title" id="{{ name }}-delete-modal-label">Are You SURE?</h4>
                    </div>
                    <div class="modal-body">
                        <p>This cannot be undone. <br> You will lose this config.</p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">I'm not sure...</button>
                        <button id="{{ name }}-delete-button" type="button" class="btn btn-danger">Delete it</button>
                    </div>
                </div>
            </div>
        </div>

        <script type="text/javascript">
            $("#{{name}}-save-button").click(function (e) {
                e.preventDefault();
                $.post('/writecfg',
                        $("#{{name}}-form").serialize(),
                        function (data, status, xhr) {
                            console.log(data);
                            if (data == "success") {
                                console.log("changing button");
                                $("#{{name}}-save-button").toggleClass("btn-success")

                                setTimeout(function () {
                                    $("#{{name}}-save-button").toggleClass("btn-success")
                                }, 2000)
                            }
                        });
            });
        </script>

        <script type="text/javascript">
            $("#{{name}}-delete-button").click(function (e) {
                e.preventDefault();
                $.post('/delcfg',
                        {name: "{{name}}"},
                        function (data, status, xhr) {
                            if (data == "success") {
                                console.log("changing button");
                                $("#{{name}}-delete-button").toggleClass("btn-success")

                                setTimeout(function () {
                                    $("#{{name}}-delete-modal").modal("hide")
                                }, 2000)
                            }
                        });
            });
        </script>
        <script type="text/javascript">
            $("#{{name}}-advanced-button").click(function (e) {
                e.preventDefault();
                $(".{{name}}-advanced").toggleClass("hidden");
            });
        </script>

    {% endfor %}

{% endblock %}

