{% extends "layout.html" -%}
{% set active_page="filemgmt" -%}
{% block body %}
    <h2>Filesystem Management</h2>
    <hr>
    <div class="row-fluid">
        <div class="panel panel-default col-md-4 pull-right">
            <table class="table">
                {% for line in fsinfo %}
                    <tr>
                        {% for data in line %}
                            {% if not data == "on" %}
                                <td>{{ data }}</td>
                            {% endif %}
                        {% endfor %}
                    </tr>
                {% endfor %}
            </table>
        </div>
        <div class="col-md-8" style="height:100%;">
            <iframe style="width:100%;height:80%;border: none;" src="/filesystem"></iframe>
        </div>
    </div>
{% endblock %}
