{% extends "layout.html" -%}
{% set active_page="images" -%}
{% block body %}
<h2>Live Images</h2>
<hr>
{% for image in image_urls %}
{% if image == "pi_last_image" %}
<div class="col-md-12">
	<br>
	<h4>{{ rpiconfig.get("camera","name") }} </h4>
	<br>
	<div class="btn-group col-md-4" data-toggle="buttons">
	        <label class="btn btn-primary">
       	        <input type="checkbox" id="{{image}}-autoup" autocomplete="off">Auto Update</input>
	        </label>
		<button class="btn btn-default"><a role="button" href="/imgs/{{image}}">Link</a></button> 
	</div>

	<div class="col-md-8 pull-right">
        <div id="{{image}}-a"><img class="img-responsive" src="/imgs/{{image}}"</div>
	</div>
<hr> 
</div>
</div>
<br>  
{% endif %}

{% if image in configs %}
<div class="col-md-12">
	<br>
	<h4>{{ configs[image].get("camera","name") }} </h4>
	<br>
	<div class="btn-group col-md-4" data-toggle="buttons">
		<label class="btn btn-primary">
			<input type="checkbox" id="{{image}}-autoup" autocomplete="off">Auto Update</input>
		</label>
		<button class="btn btn-default"><a role="button" href="/imgs/{{image}}">Link</a></button>
		<button class="btn btn-warning btn-md" data-toggle="modal" data-target="#{{image}}-modal">Config</button>
    <button class="btn btn-danger btn-md" id="{{image}}-capture-button" >Capture</button>
	</div>
  <br>
  <br>
</div>
<div class="col-md-12">
  <p>
    <h4>
    {% if configs[image].get("camera","enabled")=="on"%}

    Camera Enabled <br><br>
    {% else %}
    Camera Disabled <br><br>
    {% endif %}

    {% if configs[image].get("ftp","uploaderenabled")=="on"%}

    Uploader Enabled <br><br>
    {% else %}
    Uploader Disabled <br><br>
    {% endif %}

    </h4>
  </p>


	</div>

	<div class="col-md-8 pull-right">
		<div id="{{image}}-a"><img class="img-responsive" src="/imgs/{{image}}"</div>
	</div>
	<hr>
</div>
</div>

<!-- Modal -->
<div class="modal fade" id="{{image}}-modal" tabindex="-1" role="dialog" aria-labelledby="{{image}}-modal-label" aria-hidden="true">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h3 class="modal-title" id="{{image}}-modal-label">{{configs[image].get("camera","name")}}</h3>
		<h6 class="modal-title pull-right">{% if not configs[image].get("eosserialnumber","value") == "0" %}
			{{configs[image].get("eosserialnumber","value")}}
				{% else %}
			{{image}}
				{% endif %}
			</h6>
        </div>
        <div class="modal-body col-md-12">
            <form id="{{image}}-form">
            <input type="text" style="display:none;" name="config-name" value="{{image}}"></input>
            {% for section in configs[image].sections() %}
                {% if not section == "formatter_logfileformatter" and not section == "formatter_simpleFormatter" and not section == "eosserialnumber" %}
                    {% if section not in ["camera","timelapse","ftp"] %}
                    <div class="panel panel-default hidden {{image}}-advanced">
                    {% else %}
                    <div class="panel panel-default">
                    {% endif %}
                      <div class="panel-heading">
                          <h4 class="panel-title">{{section}}</h4>
                      </div>
                      <div class="panel-body">
                          {% for option in configs[image].options(section) %}
                          {{option}} 
                          
                           {% if option == "enabled" or option == "uploadwebcam" or option == "uploadtimestamped" or option == "uploaderenabled" %}
                                  
                                  <input class="col-md-4 pull-right" type='checkbox' name="{{section}}.{{option}}" placeholder="{{configs[image].get(section, option)}}" {% if configs[image].get(section,option)=="on"%}checked{% endif %}> 
                           {% else %}
                                  <input class="col-md-4 pull-right" type='text' title=example:"{{example.get(section,option)}}" name="{{section}}.{{option}}" value="{{configs[image].get(section, option)}}">
                           {% endif %}
                           <div class="col-md-4 pull-right" style="text-align:right">{{example.get(section,option)}}</div>
                         <br><br>
                           {% endfor %}
                      </div>
                    </div>
                {% endif %}
            {% endfor %} 
        </div>
        <div class="modal-footer">
           <button type="button" id="{{image}}-advanced-button" class="btn btn-warning">Advanced</button>
           <br><br>
            <button type="button" class="btn btn-default" data-dismiss="modal">Close/Discard</button>
            <button type="button" id="{{image}}-save-button" class="btn btn-primary">Save changes</button>

        </div>
        </form>
      </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div>
<br>

<script type="text/javascript">

$("#{{image}}-save-button").click(function(e){
      e.preventDefault();
      $.post('/writecfg', 
         $("#{{image}}-form").serialize(), 
         function(data, status, xhr){
           console.log(data);
           if(data =="success"){
		console.log("changing button");
		$("#{{image}}-save-button").toggleClass("btn-success")
  
		setTimeout(function(){
			$("#{{image}}-save-button").toggleClass("btn-success")	
		},2000)
	   }
         });
});
</script>

<script type="text/javascript">
$("#{{image}}-advanced-button").click(function(e){
      e.preventDefault();
      $(".{{image}}-advanced").toggleClass("hidden");
});
</script>

<script type="text/javascript">
  $("#{{image}}-capture-button").click(function(e){
        e.preventDefault();
        e.stopImmediatePropagation();
        $(this).removeClass('active');
        var imageobject = new Image();
            imageobject.src = "/preview_cam?serialnumber={{image}}&"+ new Date().getTime();
            imageobject.class = "img-responsive";
            imageobject.onload= function(){
                    console.log("replaced");
                    $("#{{image}}-a").empty().append(imageobject);
            }
  });
</script>


{% endif %}

{% endfor %}
{% for image in image_urls %}
{% if image =="pi_last_image" %}

<script type='text/javascript'>
window.setInterval(
function(){
        if($("#{{image}}-autoup").is(":checked")){
                var imageobject = new Image();
                imageobject.src = "/imgs/"+"{{image}}?t=" + new Date().getTime();
                imageobject.class = "img-responsive";
                imageobject.onload= function(){
                        console.log("replaced");
                        $("#{{image}}-a").empty().append(imageobject);
                }
        }
},{{rpiconfig.get("timelapse","interval")}}*1000);
</script>
{% else %}
<script type='text/javascript'>
window.setInterval(
function(){
	if($("#{{image}}-autoup").is(":checked")){

		var imageobject = new Image()
		imageobject.src = "/imgs/"+"{{image}}?t=" + new Date().getTime();
		imageobject.class = "img-responsive"
		imageobject.onload= function(){
			console.log("replaced")
			$("#{{image}}-a").empty().append(imageobject)
		}		
	}
}
,{{configs[image].get("timelapse","interval")}}*1000);
</script>
{% endif %}
{% endfor %}
{% endblock %}
