{% extends "layout.html" -%}
{% set active_page="live" -%}
{% block body %}
    {% if picam %}
        <div class="row">
            <div class="col-md-8 text-center">
                <img class="img-responsive" src="/pi_feed"/></div>
            </div>
        </div>
    {% endif %}
    {% for image in image_urls %}
        <div class="row">
                <div class="col-md-8">
                    <img class="img-responsive img-reload" src="{{ image }}"/>
                </div>
        </div>
    {% endfor %}

    <script type="application/ecmascript">
    // reload images every 2 minutes
    setInterval(()=>{
        let needs_reload = document.getElementsByClassName("img-reload");
        for (let element of needs_reload){
            element.src = element.src.split("?")[0]+"?t="+ new Date().getTime();
        }
    }, 60*1000);

    </script>

{% endblock %}
