<!DOCTYPE html>
{% set navigation_bar = [("/","cameras","Cameras"),("/images","images", "Live Images"), ("/filemanagement","filemgmt","Files"),("/logfile","logfile", "Log"),
("/net","net","Network"),
("/admin","admin","Administration")
]  -%}
{% set active_page = active_page|default("index") -%}
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
	
	<title>SpectroPhenoClimatron - EyePi Configuration</title>
	<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script	
	<!--link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}"--!>
	
	<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">

	<!-- Optional theme -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap-theme.min.css">

	<!-- Latest compiled and minified JavaScript -->
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
	<style>
		body{
			padding-top 50px;
			margin-left: 5%;
		}
		#vers{float:right;}
		img {
          	display: block;
          	height: auto;
         	max-width: 100%;
   		}
	</style>

</head>
	   <div class=metanav>
    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">SPC-EyePi</a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
        {% for href, id, caption in navigation_bar %}
          <li{% if id == active_page %} class="active"{% endif
          %}><a href="{{ href|e }}">{{ caption|e }}</a></li>
        {% endfor %}
	</ul>
	<ul class="nav navbar-nav navbar-right">
	<li class=".navbar-right"><a class=".navbar-right" href="https://github.com/borevitzlab/spc-eyepi">{{ version }}</a></li>
	</ul>
         </ul>
	</div><!--/.nav-collapse -->
      </div>
    </nav>
</div>
<br><br><br>
	<div class="container col-md-12">
	  {% block body %}
	  {% endblock %}
	  </div>
	  {% for message in get_flashed_messages() %}
	    <div class=flash>{{ message }}</div>
	  {% endfor %}
