{% extends "layout.html" -%}
{% set active_page="sched" -%}
{% block javascript_h %}

<script type="text/javascript">

function create_timeslot(time, name, array_of_event_items){
  var blank_item = get_new_event(name);
  if (typeof array_of_event_items === 'undefined') { array_of_event_items = [blank_item]; }
  var div_to_write_to = document.getElementById(name+"-timeslot-list");
  var li = document.createElement("li");
  li.setAttribute("class","col-md-12");
  var timeinput = document.createElement("input");
    timeinput.setAttribute("type","time");
  var date = new Date();
    timeinput.value = time;//String(date.getHours())+":"+String(date.getMinutes())
  li.appendChild(timeinput);
  var eventlist = document.createElement("ul");

  for(item in array_of_event_items){
    console.log(item);
    eventlist.appendChild(array_of_event_items[item]);
  }
  li.appendChild(eventlist)
  div_to_write_to.appendChild(li);
  var lb = document.createElement("br");
  var new_event_button = document.createElement("button");
      new_event_button.setAttribute("class","btn btn-default");
      new_event_button.setAttribute("type","button");
  var new_event_button_span = document.createElement("span");
      new_event_button_span.setAttribute("class","glyphicon glyphicon-plus");
      new_event_button_span.setAttribute("aria-hidden","true");
  new_event_button.appendChild(new_event_button_span);
  div_to_write_to.appendChild(lb);
  div_to_write_to.appendChild(new_event_button);
  // append a button to the create new event here.
}


function get_list_of_options(name){
   console.log("getting get_list_of_options");
  {% for name,schedule in schedules.iteritems() %}
    if(name == "{{name}}"){
      var list = document.createElement("ul");
        {% for setting in struct_out_cfg[name] %}
          var li = document.createElement("li");
          var a = document.createElement("a");
          a.setAttribute("role","menuitem");
          a.setAttribute("tabindex","-1");
          a.setAttribute("href","#");
          a.innerText = "{{setting}}";
          li.appendChild(a);
          list.appendChild(li);
          {% endfor %}
    }
  {% endfor %}
  return list;
}
function get_list_of_selections(setting){
  console.log("getting get_list_of_selections");
  if (typeof setting === 'undefined') { setting = "shutterspeed"; }
  {% for key,settingdict in struct_out_cfg.iteritems() %}
    {% for settingname, settingopts in settingdict.iteritems() %}
      if(setting=="{{settingname}}"){
        var list = document.createElement("ul");
        {% for choice in settingopts["Choice"] %}
        var li = document.createElement("li");
          var a = document.createElement("a");
          a.setAttribute("role","menuitem");
          a.setAttribute("tabindex","-1");
          a.setAttribute("href","#");
          a.innerText = "{{choice[1]}}";
          li.appendChild(a);
          list.appendChild(li);
        {% endfor %}
      }
    {% endfor %}
  {% endfor %}
  return list;
}

function get_new_event(name, setting, value){
  console.log("Getting event");
  if(typeof(setting)==='undefined' || typeof(value)==='undefined'){
    value = "unset";
    setting = "Choose a setting"
  }
  var li = document.createElement("li")
  var option_dropdown_div = document.createElement("div");
     option_dropdown_div.setAttribute("class","dropdown");

  var option_dd_button = document.createElement("button");
      option_dd_button.setAttribute("class","btn btn-default dropdown-toggle col-md-8");
      option_dd_button.setAttribute("type","button");
      option_dd_button.setAttribute("data-toggle","dropdown");
      option_dd_button.setAttribute("aria-expanded","false");
      option_dd_button.innerText = setting;
      option_dropdown_div.appendChild(option_dd_button);
  var option_dd = get_list_of_options(name);
      option_dd.setAttribute("class","dropdown-menu");
      option_dropdown_div.appendChild(option_dd);

  var selection_dropdown_div = document.createElement("div");
      selection_dropdown_div.setAttribute("class","dropdown pull-right col-md-4");

  var selection_dd_button = document.createElement("button");
      selection_dd_button.setAttribute("class","btn btn-default dropdown-toggle");
      selection_dd_button.setAttribute("type","button");
      selection_dd_button.setAttribute("data-toggle","dropdown");
      selection_dd_button.setAttribute("aria-expanded","false");
      selection_dd_button.innerText = value;
      selection_dropdown_div.appendChild(selection_dd_button);
  var selection_dd = get_list_of_selections();
      selection_dd.setAttribute("class","dropdown-menu");
      selection_dropdown_div.appendChild(selection_dd);

  li.appendChild(option_dropdown_div);
  li.appendChild(selection_dropdown_div);
  console.log(li);
  return li;
}

</script>
{% endblock %}


{% block body %}
<h2>Schedules</h2>


"""
ACCESS TO schedules!!

schedule = [
        ("03:57",[
              ("/main/capturesettings/shutterspeed","35"),
               ("/main/imgsettings/iso","1")
               ]),
        
        ("19:57",[
              ("/main/capturesettings/shutterspeed","10"),
               ("/main/imgsettings/iso","1")
                   ])

        ]

"""


<hr>

{% for name, schedule in schedules.iteritems() %}
<div class="btn-group-vertical col-md-4" role="group" aria-label="{{configs[name].get("camera","name")}}">
  <button class="btn btn-primary btn-md" data-toggle="modal" data-target="#{{name}}-modal">{{configs[name].get("camera","name")}}</button>
  <div class="btn-group btn-group-horizontal" role="group">
    <button class="btn btn-danger btn-md col-md-2" data-toggle="modal" data-target="#{{name}}-delete-modal">Clear schedule</button>
    <button class="btn btn-danger btn-md col-md-2" data-toggle="modal" data-target="#{{name}}-delete-modal">Clear schedule</button>
  </div>
</div>
<!-- Modal -->
<div class="modal fade" id="{{name}}-modal" tabindex="-1" role="dialog" aria-labelledby="{{name}}-modal-label" aria-hidden="true">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h3 class="modal-title" id="{{name}}-modal-label">{{configs[name].get("camera","name")}}</h3>
    <h6 class="modal-title pull-right">{% if not configs[name].get("eosserialnumber","value") == "0" %}
      {{configs[name].get("eosserialnumber","value")}}
        {% else %}
        
        {{name}}

        {% endif %}
      </h6>
        </div>
        <div class="modal-body col-md-12">
            <form id="{{name}}-form">
            <input type="text" style="display:none;" name="config-name" value="{{name}}"></input>
            <ul id="{{name}}-timeslot-list">
            
            </ul>
        </div>
        <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close/Discard</button>
        <button type="button" id="{{name}}-save-button" class="btn btn-primary">Save changes</button>
        </div>
        </form>
      </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->  

<!-- deletion modals -->
<div class="modal fade" id="{{name}}-delete-modal" tabindex="-1" role="dialog" aria-labelledby="{{name}}-delete-modal-label" aria-hidden="true">
   <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h4 class="modal-title" id="{{name}}-delete-modal-label">Are You SURE?</h4>
        </div>
        <div class="modal-body">
        <p>This cannot be undone. <br> You will lose this schedule.</p>
        </div>
        <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">I'm not sure...</button>
        <button id="{{name}}-delete-button" type="button" class="btn btn-danger">Delete it</button>
        </div>    
      </div>
   </div>
</div>

<script type="text/javascript">
$("#{{name}}-save-button").click(function(e){
      e.preventDefault();
      $.post('/writecfg', 
         $("#{{name}}-form").serialize(), 
         function(data, status, xhr){
           console.log(data);
           if(data =="success"){
    console.log("changing button");
    $("#{{name}}-save-button").toggleClass("btn-success")
  
    setTimeout(function(){
      $("#{{name}}-save-button").toggleClass("btn-success") 
    },2000)
     }
         });
});
</script>

<script type="text/javascript">
$("#{{name}}-delete-button").click(function(e){
      e.preventDefault();
      $.post('/delcfg', 
         {name: "{{name}}"},
         function(data, status, xhr){
           if(data =="success"){
                console.log("changing button");
                $("#{{name}}-delete-button").toggleClass("btn-success")
  
                setTimeout(function(){
                        $("#{{name}}-delete-modal").modal("hide")
                },2000)
           }
         });
});
</script>

{% endfor %}
<script>
$(function(){


    $(".dropdown-menu li a").click(function(e){
      e.preventDefault();
      var selText = $(this).text();
      $(this).parents('.dropdown').find('.dropdown-toggle').html(selText+'<span class="caret"></span>');
      $(this).parents('.dropdown').find('.dropdown-toggle').value(selText);
   });
});
</script>
<script type="text/javascript">

window.onload = function() {
  {% for name,schedule in schedules.iteritems() %}
    {% for slot in schedule %}
    var events = [] 
      {% for event_in in slot[1] %}
      var ev = get_new_event("{{name}}", "{{event_in[0]}}", "{{event_in[1]}}");
        events.push(ev);
      {% endfor %}
    create_timeslot("{{slot[0]}}","{{name}}",events );
   {% endfor %}
  {% endfor %}
};

</script>

{% endblock %}
